{% extends 'core/base.html' %}

{% block content %}

    <div style="height: 410px; overflow-y: scroll; overflow-x: hidden;">
        <div class="main" style="width: 80%; padding: 10px 10%;">
            <ul class="slider">

                <li id="Delicias">
                    <table>
                        <tr>
                            <td>
                                <img src=" ../../static/core/img/delicias.jpg " alt="Delicias">
                            </td>
                            <td>
                                <h2>Delicias</h2>
                                <p>Te invitamos a descubrir todas nuestras exclusivas recetas. Contamos con amplia
                                    variedad
                                    de pizzas: tradicionales, exclusivas, exóticas. Todas inspiradas originalmente
                                    en los mas exquisitos gustos de Italia.</p>
                                <p>Usamos solo ingredientes orgánicos, de nuestra propia huerta, y cuidadosamente
                                    seleccionados.</p>
                                <p>Probalas...
                                    ¡Vas a querer volver siempre!</P>
                            </td>
                        </tr>
                    </table>
                </li>

            </ul>
        </div>

        {% for project in Projects %}
        <div class="main" style="width: 80%; padding: 10px 10%;">
            <br>
            <ul class="slider">

                <li id="Delicias">
                    <table>
                        <tr>
                            <td>
                                <img src="{{project.image.url}}" alt="Delicias">
                            </td>
                            <td>
                                <h2>{{project.title}}</h2>
                                <p>{{project.descripcion}}</p>
                            </td>
                        </tr>
                    </table>
                </li>

            </ul>

        </div>
        {% endfor %}
    </div>


   {% endblock %}