{% extends 'core/base.html' %}

{% block content %}

<main class="main">
    <ul class="slider">
        <li id="Contacto">
            <table>
                <tr>
                    <td>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.80786040467!2d-58.42086829037722!3d-34.5837279728487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb581ee271433%3A0x14662e44a8d925ad!2sAv.%20Sta.%20Fe%203900%2C%20C1425BHN%20CABA!5e0!3m2!1ses!2sar!4v1698014817161!5m2!1ses!2sar"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </td>
                    <td>
                        <div class="formulario">
                            <h2>¡Hacé tu Reserva!</h2>
                            <form onsubmit="return validarFormulario()" action="https://formspree.io/f/xgejdvyy"
                                method="POST">
                                <div class="items-form">
                                    <label for="name">Nombre</label><br />
                                    <input type="text" id="name" name="nombre" placeholder="Nombre y Apellido">
                                </div>
                                <div class="items-form">
                                    <label for="email">Email</label><br />
                                    <input type="email" id="email" name="email" placeholder="nombre@mail.com">

                                </div>
                                <div class="items-form">
                                    <label for="mensaje">Reserva</label><br />
                                    <textarea name="mensaje" id="mensaje" cols="18" rows="3"
                                        placeholder="Solicitar día y horario"></textarea>
                                </div><br>
                                <div>
                                    <button class="enviar" type="submit">Enviar</button>
                                    <br /><br />
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</main>

{% endblock %}