{% extends 'core/base.html' %}

{% block content %}

<main class="main">
    <ul class="slider">

        <li id="Nosotros">
            <table>
                <tr>
                    <td>
                        <img src="../../static/core/img/nosotros.jpg" alt="Imagen2">
                    </td>
                    <td>
                        <h2>Nosotros</h2>
                        <p>Nuestros maestros pizzeros cuentan con una amplia experiencia en nuestro país y en
                            el exterior. Conocen como pocos la pasión, la emoción y los desafíos que implican
                            desarrollar algunas de las mejores pizzas de nuestro país.</p>
                        <p>Utilizan su expertise para desarrollar recetas y servicios diseñados para satisfacer
                            los más exquisitos paladares, y por supuesto...</p>
                        <p>¡Aman con locura lo que hacen!</p>
                    </td>
                </tr>
            </table>
        </li>

    </ul>
</main>


{% endblock %}