{% extends 'core/base.html' %}

{% block content %}

<main class="main">
    <ul class="slider">
        <li id="Resto">
            <table>
                <tr>
                    <td>
                        <img src="../../static/core/img/imagen 1.jpg" alt="Pizza">
                    </td>
                    <td>
                        <div>
                            <h2>Restó Pizzería</h2>
                            <p>La historia comienza en 1932, cuando nuestros abuelos abren una panadería en
                                Palermo. Habían venido en barco desde Génova, Italia.</p>
                            <p> Tenían dos hijos: Giancarlo Agustín y Gianluca José. Cuenta la historia que ahí, en
                                el horno de la panadería, se hicieron las primeras pizzas de Buenos Aires.</p>
                            <p> Unos años después fue tomando forma el restaurante.</p>
                        </div>
                    </td>
                </tr>
            </table>
        </li>

    </ul>
</main>


{% endblock %}